.wish-parent {
    height: 86vh;
    background: linear-gradient(to bottom right, #feedf6, #fcf0e2);
}

.wish-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishlist-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 3px;
}

.wishlist-title h2 {
    font-size: 2rem;
    color: rgb(22, 20, 20);
    font-weight: 500;
}

.wishlist-true-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.wish-table-wrapper {
    overflow-x: hidden;
    padding: 7rem 0;
    margin: 0 auto;
    width: 100%;
}

.wish-table {
    width: 80%;
    margin: auto;
}

.wish-thead {
    border: 1px;
    border-left: 0;
    border-right: 0;
}

.wish-row-header {
    font-size: 70%;
    padding: 1rem 0;
    /* padding: 1rem 2rem; */
}

.wish-tbody-row {
    text-align: center;
}

.wish-delete-btn {
    cursor: pointer;
    font-size: 1rem;
    margin: 0 20px;
    margin-right: 0;
    text-align: center;
}

.wish-image {
    width: auto;
    margin: 0;
    object-fit: cover;
}

.wish-prouct-title {
    display: block;
    font-size: 75%;
    text-align: center;
    margin-top: 10%;
}

.wish-btn {
    background: #fff;
    color: #ff3f6c;
    padding: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #ff3f6c;
    display: inline-block;
}

/* ############## Wishlist Reponsive Styling #################   */

@media screen and (min-width:490px) and (max-width:524px) {
    td {
        font-size: 80%;
    }
    .wish-prouct-title {
        text-align: start;
        margin-top: 14%;
    }
    element.style {
        width: fit-content;
        padding: 0;
        border-right: 1px solid;
    }
    .wish-delete-btn {
        margin: 0 ;
    }
}