.main-container {
    display: flex;
    background: #d7d7d72b;
    padding: 60px 0;
}

.home-left {
    width: 20%;
}

.home-right {
    width: 100%;
    padding: 0 15px;
    position: relative;
    margin-top: 18px;
}

.parent {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    margin: 0 10px;
}

.parent-dropdown {
    position: absolute;
    top: -60px;
    right: 15px;
    background: white;
    width: 18rem;
    border: 2px solid rgb(235, 228, 228);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    height: auto;
    z-index: 9;
}

ul li {
    list-style: none;
}

.parent-dropdown a {
    text-decoration: none;
    color: #282d3f;
    font-size: 17px;
    padding: 8px 16px;
    display: block;
    position: relative;
    right: 0;
    top: 0;
}

.parent-dropdown a>span {
    color: #282c3f;
    font-weight: 700;
    font-size: 14px;
}

.p-dropdown-icon {
    float: right;
}

.parent-dropdown ul {
    display: none;
}

.parent-dropdown ul li a {
    color: #282d3f;
    font-size: 17px;
    padding: 4px 18px;
    margin: 0.4rem 0;
}


.parent-dropdown:hover ul {
    position: absolute;
    left: 0;
    top: 10%;
    display: block;
    color: black;
    border-radius: 4px;
}

.parent-dropdown:hover {
    height: 21rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 999;
}

.Home-col1a {
    display: flex;
    gap: 4px;
    margin-bottom: 0.8rem;
    margin-left: 1.2rem;
}

.Home-col1a .icon {
    color: #fff;
}

.filter1-title {
    color: #282c3f;
    font-weight: 700;
    font-size: 1rem;
}

.filter1 {
    border-top: 1px solid #E9E9ED;
    height: 7.4rem;
    padding-top: 2.4rem;
}

.filter1,
.filter2,
.filter3 {
    border-bottom: 1px solid #E9E9ED;
    border-right: 1px solid #E9E9ED;
}

.filter2-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    overflow: hidden;
}

.filter2 {
    padding: 1.6rem 1rem;
}

.filter2-title {
    Color: #282c3f;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    overflow: hidden;
}

.col1-ul {
    color: #282c3f;
    font-size: 1rem;
    font-weight: 400;
}

.col1-ul-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    margin-bottom: 0.8rem;
    overflow: hidden;
}

.col1-ul-number {
    color: #B2A9AB;
    font-size: 0.7rem;
}

.filter2-heading .icon {
    color: #000;
    background: rgb(247 220 220 / 41%);
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-weight: 400;
    overflow-y: hidden !important;
}

.filter3 {
    padding: 1.6rem 1rem;
    overflow: hidden;
}

.filter3-title {
    Color: #282c3f;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
}

.filter3-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    overflow: hidden;
}

.parent-product-images {
    border-top: 1px solid #E9E9ED;
}

.product-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.9rem;
    position: relative;
}

.sidebar-label-container {
    margin-bottom: 1rem;
}

.radio-input {
    margin-right: 0.8rem;
}

/* ################view Page################ */

.view-Container-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(99 94 94 / 60%);
    z-index: 99;
}

.view-container {
    width: 35%;
    height: scroll;
    float: right;
    background: aliceblue;
    position: relative;
    margin-right: -1rem;
    margin-top: -5rem;
    z-index: 99;

    position: absolute;
    top: -5rem;
    right: 0;
    padding-bottom: 6rem;
}

.view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

/* ################### Responive Home ################## */

@media screen and (max-width:1200px) {
    .sidebar-wrapper {
        width: 8rem;
    }
    .Rating-btn {
        bottom: 5.7rem;
    }
}
@media screen and (min-width:525px) and (max-width:600px) {
    .product {
        margin-left: 1rem;
    }
    .Rating-btn {
        bottom: 7.7rem;
    }
}

@media screen and (max-width:524px) {
    .product {
        margin: 0 auto;
    }
    .sidebar-label-container {
        margin-bottom: 2rem;
    }
    .Rating-btn {
        bottom: 5.7rem;
    }
    .parent-dropdown {
        width: auto;
    }
}

@media screen and (min-width:400px) and (max-width:424px) {
    .product-grid {
        margin-left: 10%;
    }
    .Rating-btn {
        bottom: 7.7rem;
    }
}

@media screen and (min-width:330px) and (max-width:423px) {
    .card {
        width: 80%;
        margin: auto;
    }
    .Rating-btn {
        bottom: 7.7rem;
    }
    .parent-dropdown {
        width: auto;
    }
}

@media screen and (min-width:280px) and (max-width:330px) {
    .card {
        width: 55%;
        margin-left: 5rem;
    }
    .Rating-btn {
        bottom: 9.7rem;
    }
    .parent-dropdown {
        width: auto;
    }
}